/*Estilizar body*/
body{
    background-color: rgb(250, 248, 244);
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilizar header*/
.hero{
    background-image: linear-gradient(120deg, rgba(202, 129, 19), rgba(192, 96, 58, 0.37)),url("../img/seco.jpg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 500px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 60px;
}
.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: rgb(247, 82, 5);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}
